### Python Practice Question and Answer

### A.String

#### 1. Check if a given string is a palindrome.

In [3]:
var = 121
if var == 121:
    print("string is palindrome")
elif var > 11:
    print("number is greater] than 11")
    if var == 11:
        print("number is less than 11")

string is palindrome

#### 2.Count the numbers of vowels in a string and store the result in a dictionary.

In [4]:
s ="darshan"
vowels = "aeiou"
count ={v:s.count(v) for v in vowels}
print(count)

{'a': 2, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

#### 3.Convert the first letter of each word in a string to uppercase(title case manually)

In [5]:
a = input("Sentence").title()
print(a)

Sentence i am learning data science

I Am Learning Data Science

#### 4.Find the most frequently occuring character in a string.

In [11]:
d = "elephant"
freq = {ch:s.count(ch)for ch in d}
print(max(freq,key = freq.get))

a

#### 5.Count digits, alphabets and special charcter separately in a string.

In [14]:
a = input("Enter a string")

alphabets =0
digits = 0 
special = 0

for ch in a:
    if ch.isalpha():
        alphabets +=1
    elif ch.isdigit():
        digit +=1
    else:
        special +=1

print("Alphabets:", alphabets)
print("Digits:", digits)
print("Special character:", special)

Enter a string Darshan@112012

Alphabets: 7
Digits: 0
Special character: 1

### B.List

#### 6.Remove duplicate element from a list without using set().

In [24]:
l1 = [11, 12, 13, 12, 11, 20, 15, 20, 14]
new_list = []
for i in l1:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[11, 12, 13, 20, 15, 14]

#### 7.Reverse a list without using built in function.

In [25]:
l1 = [20,19,18,17,16,15,14,13,12,11]
l1 = l1[::-1]
print(l1)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### 8.find the 2nd largest and 2nd smallest element in a list.

In [26]:
l1 = [11,12,13,15,20]
print("Second Smallest:", l1[1])
print("Second Largest:", l1[-2])

Second Smallest: 12
Second Largest: 15

#### 9.Store the square of each element of a list into a new list(using list comprehension)

In [28]:
l1 = [11,12,20,27]
[i**2 for i in l1]

[121, 144, 400, 729]

#### 10.Flatten a nested list into a single list.

In [29]:
nested = [[11,12],[13,14],[19,20]]
[x for sub in nested for x in sub]

[11, 12, 13, 14, 19, 20]

### C.Tuple

#### 11.Reverse a tuple without using[::-1].

In [38]:
l1 = [11,12,13,15,20]
l1.reverse()

In [39]:
l1

[20, 15, 13, 12, 11]

#### 12.Extract unique elements from a tuple and store them in a new list.

In [41]:
t1 =(11,12,13,11,20,15,24,20,12,10)
unique = []
for i in t1:
    if i not in unique:
        unique.append(i)
        
print("Original tuple:", t1)
print("Unique element list", unique)

Original tuple: (11, 12, 13, 11, 20, 15, 24, 20, 12, 10)
Unique element list [11, 12, 13, 20, 15, 24, 10]

#### 13.Concatenate two tuples and sort them.

In [42]:
t1 =(11,12,13,20,15)
t2 =(14,15,19,16,17)
concatenate = t1 + t2
sort = tuple(sorted(concatenate))
print(sort)

(11, 12, 13, 14, 15, 15, 16, 17, 19, 20)

#### 14.Count the frequency of an element in a tuple without using count().

In [51]:
t = (11,12,13,20,11,12,20,15,20)
element = 20
freq = 0

for i in t:
    if i == element:
        freq += 1

print("frequency element", freq)

frequency element 3

#### 15.From a tuple of numbers,create two tuples:one with even numbers and one with odd number

In [53]:
t = (5,10,15,20,25,30,35,40,45,50)

even_list = []
odd_list = []

for num in t:
    if num % 2==0:
        even_list.append(num)
    else:
        odd_list.append(num)

print("even number tuple:", even_list)
print("odd number tuple:", odd_list)

even number tuple: [10, 20, 30, 40, 50]
odd number tuple: [5, 15, 25, 35, 45]

### D.Set

#### 16.Perform union,intersection and difference of two sets without using built-in operators.

In [4]:
# Union
A = {11,12,13}
B = {18,19,20}
set = A | B
print("Union:", set)

Union: {18, 19, 20, 11, 12, 13}

In [8]:
# Intersection
A = {1,2,3,4}
B = {3,4,5,6}
intersection = A & B
print("intersection:", intersection)

intersection: {3, 4}

In [11]:
# Difference
A = {11,12,13}
B = {14,15,16}
difference_result = A-B
print("difference (A-B):", difference_result)

difference (A-B): {11, 12, 13}

#### 17.Remove a random element from a set(without using pop())

In [12]:
a = {11,12,13,14,15}
a.remove(13)

In [13]:
a

{11, 12, 14, 15}

#### 18.Convert a list into a set and check if duplicates are removed.

In [1]:
l1 = [10,20,20,30,40,40,50]

# Convert list into set
unique_set = set(l1)

print("Original List:", l1)
print("Converted list:", unique_set)

Original List: [10, 20, 20, 30, 40, 40, 50]
Converted list: {40, 10, 50, 20, 30}

#### 19.Check if two sets are disjoint.

In [2]:
a = {11,12}
b = {19,20}

a.isdisjoint(b)

True

#### 20.Find the sum of all element in a set.

In [3]:
d = {11,12,14,15,20,25,27}
sum(d)

124

### 5.Dictionary

#### 21.Create a dictionary and print keys in asending order.

In [1]:
d1 = {"darshan":11, "vinod":12, "rozi":20}
print("original d1:", d1)
print("keys in asending order:", sorted(d1.keys()))

original d1: {'darshan': 11, 'vinod': 12, 'rozi': 20}
keys in asending order: ['darshan', 'rozi', 'vinod']

#### 22.Add a new key to a dictionary with value equal to the sum of existing values.

In [14]:
d2 = {"a":50, "b":100, "c":150}
d = sum(d2.values())

d2["d"]=300
print(d)
print(d2)

300
{'a': 50, 'b': 100, 'c': 150, 'd': 300}

#### 23.Merge two dictionaries into one.

In [15]:
d1 = {"darshan":11, "vinod":12}
d2 = {"rozi":20, "smita":14}
d1.update(d2)
print(d1)

{'darshan': 11, 'vinod': 12, 'rozi': 20, 'smita': 14}

#### 24.Find the key with the largest value in a dictionary.

In [17]:
d = {"darshan":11, "vinod":12, "rozi":20}
print(max(d,key = d.get))

rozi

#### 25.Store the freqency of character of a string in a dictionary.

In [19]:
a = "enterprises"
freq ={ch:a.count(ch) for ch in set (a)}
print(freq)

{'t': 1, 'p': 1, 's': 2, 'n': 1, 'e': 3, 'i': 1, 'r': 2}

### 6.Conditional Statements

#### 26.Take age as input and check if the person is eligible to vote or not.

In [4]:
age = int(input("Enter the age"))

if age >= 18:
    print("You are eligible for voting")
else:
    print("You are not eligible for voting")

Enter the age 21

You are eligible for voting

#### 27.Find the largest among three numbers(using nested if).

In [7]:
a = 11
b = 12
c = 20

if a >= b:
    print("this condition is false")
    if c >= b:
        print("this condition is true")
    else:
        print("20 is the largest number ")
else:
    print("c is largest all over three variable")

c is largest all over three variable

### 28.Check if a given number is prime or not.

In [11]:
n = int(input("Enter a number"))

if n==2:
    print("it is a prime number", n)
elif n==3:
    print("it is a prime number", n)

elif n%3==0 or n%2==0:
    print("it is divisible by 3 or 2")
else:
    print("it is a prime number")

Enter a number 59

it is a prime number

#### 29.Assign grade(A,B,C,Fail)based on marks input.

In [28]:
mark = int(input("Enter the mark"))

if mark < 0 or mark > 100:
    print("invalid mark are enter")
elif mark > 65 or mark <= 85:
    print("You got B grade")
elif mark >= 86 or mark <= 95:
    print("You got A grade")
else:
    print("You got Distinction")
    if mark >= 95:
        print("Merit")

Enter the mark 63

You got B grade

#### 30.Check if a number is positive, negative or zero.

In [4]:
num = int(input("Enter a number: "))

if num > 0:
    print("the number is positive")
elif num < 0:
    print("the number is negative")
else:
    print("the number is zero")

Enter a number:  20

the number is positive

### 7.Loops- For and While

#### 31.Print the first 10 numbers of the fibonacci series using for loop.

In [11]:
n = 10
a,b = 0,1

print("Fibonacci Series:")


for i in range(n):
    print(a, end=" ")
    a,b = b, a+b

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

#### 32.find the factorial of a number using while loop.

In [15]:
num = int(input("enter a number"))
fact = 1

i = num
while i >= 1:
    fact = fact*i
    i = i - 1
    print("factorial of", num, "is:", fact)

enter a number 1

factorial of 1 is: 1

#### 33.input a number and find the sum of its digit using while loop.

In [21]:
num = input("enter a number: ")
i = 0
sum_digit = 0

while i < len(num):
    sum_digit = sum_digit + int(num[i])
    i = i + 1

print("sum of digit is:", sum_digit)

enter a number:  1120

sum of digit is: 4

#### 34.print all elements of a list in reverse order without using reverse()

In [22]:
l1 = [11,12,13,14,15,16,17,18,19,20]
l2 = l1[::-1]
print(l2)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

#### 35.print a star pattern(triangle) using nested loop

In [23]:
# number of rows
rows = 9
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

### 8. File Handling

#### 36.Write some text into a file and then read and print it.

In [1]:
f = open("darshan.txt", "w")
f.write("I am doing assignment question given by amit sir.")
f.close()

f = open("darshan.txt", "r")

f.read()

'I am doing assignment question given by amit sir.'

#### 37.Count the total number of lines in a file.

In [3]:
f = open("darshan.txt", "r")
line = f.readline()
print("lines:", len(f.readline()))

lines: 0

#### 38.Count vowels and consonants in a file.

In [5]:
f = open("darshan.txt", "r")
text = f.read()
f.close()

vowels = 0
consonants = 0

vowel_list ="aeiou"

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants +=1
print("Vowels:", vowels)
print("Consonants", consonants)

Vowels: 15
Consonants 25

#### 39.Convert the content of a file into uppercase and store it in another file.

In [14]:
f1 = open("darshan.txt", "r")
content = f1.read()
f1.close()

content = content.upper()

f2 = open("darshan1.txt", "w")
f2.write(content)
f2.close()

In [9]:
f2 = open("darshan1.txt", "r")

In [10]:
f2.read()

'I AM DOING ASSIGNMENT QUESTION GIVEN BY AMIT SIR.'

#### 40.Read a CSV file and print its rows.

In [15]:
import csv
f = open("darshan.txt", newline="")
reader = csv.reader(f)

for row in reader:
    print(row)

['I am doing assignment question given by amit sir.']

### 9.OS Module

In [16]:
import os

#### 41.Print the current working directory using os module.

In [19]:
cwd = os.getcwd()      ="cwd means current working directory"
print(cwd)             = "OS :- operation system"

C:\Users\HP\Downloads

#### 42.Create a new folder using os module and create a file inside it.

In [1]:
import os

In [2]:
os.mkdir("DARSHAN11")
f = open("DARSHAN11/newfile.txt", "w")
f.write("this is my new file DARSHAN11")
f.close()

### 43.List all files and folders inside a directory.

In [3]:
os.listdir()

['.conda',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.vscode',
 '00. Python Basics.pdf',
 '01. Python_Practice_Questions.pdf',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'build in func practice.ipynb',
 'condition 2 practice.ipynb',
 'conditions 1 practice .ipynb',
 'Contacts',
 'Cookies',
 'darshan.txt',
 'DARSHAN11',
 'dictionary func and oper practice.ipynb',
 'Documents',
 'Downloads',
 'ds 1st test python.ipynb',
 'Favorites',
 'file handle practice.ipynb',
 'global,map,reduce nd filter practices.ipynb',
 'IntelGraphicsProfiles',
 'Links',
 'list and operation practice.ipynb',
 'Local Settings',
 'logfile.txt',
 'loop-1 practice.ipynb',
 'loop-2 practice.ipynb',
 'loop-3 practice.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'newfile.txt',
 'newfolder',
 'newfolder2',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy practice.ipynb',
 'OneDrive',
 'Pandas-1 practice.ipynb',
 'Pandas-2 practice.ipynb',
 'PrintHood',
 'Python basic practice.ipynb',
 'python practice question and answer.ipynb',
 'PYTHON Practices',
 'Python-2',
 'Recent',
 'Regular expression practice.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'set and operation practice.ipynb',
 'Start Menu',
 'string and operation practice.ipynb',
 'Templates',
 'test que and answer- 2.ipynb',
 'Try and Excpt, logging practice.ipynb',
 'tuple and operaton practice.ipynb',
 'Untitled.ipynb',
 'user define func-2 practice.ipynb',
 'user define function practice.ipynb',
 'Videos']

#### 44.Check the size of a file using os module.

In [2]:
import os

In [10]:
import os

filename = "darshan.txt"
size = os.path.getsize(filename)
print(f"file size of {filename} is: {size} bytes")

file size of darshan.txt is: 43 bytes

### 10.Try-Exception

#### 46.Write a program that takes user input and print its square.Handle errors if input is invalid

In [2]:
try:
    num = int(input("Enter a number: "))
    print("square is:", num**2)
except ValueError:
    print("Invalid input! Please enter a number")

Enter a number:  20

square is: 400

#### 47.Handle Zero Division Error with an example program.

In [8]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = int(a / b)
    print("Result:", result)
except ZeroDivisionError:
    print("Error! Cannot divide by zero.")

Enter numerator:  0
Enter denominator:  0

Error! Cannot divide by zero.

#### 48.Handle FileNotFoundError with an example program.

In [2]:
try:
    f = open("demo.txt", "r")
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found")

File not found

#### 49.Handle both ValueError and TypeError with an example.

In [7]:
try:
    num = int(input("Enter a number: "))
    result = num + "20"
    print("result:", result)
except ValueError:
    print("Error: you enter wrong number")
except TypeError:
    print("Error: you can not add two data types")

Enter a number:  43

Error: you can not add two data types

#### 50.Write a program with finally block that opens and close a file.

In [1]:
try:
    file = open("demo2.txt", "w")
    file.write("last que of this assignment")
    print("file written success")

except Exception as e:
    print("an error occur:", e)

finally:
    file.close()
    print("file will be close successfully")

file written success
file will be close successfully