### 1.User-Defined Function

#### 1.Write a function to calculate the factorial of a number(without recursion)

In [3]:
def factorial(n):                                          ## 1st way
    """
    Calculate the factorial of a non-negative integer n.

    Parameters:
    n(int): The number to calculate factorial for.

    Returns:
    int: the factorial of n.
    """
    if n < 0:
        raise ValueError("Factorial is not define for negative number")
    if n==0 or n==1:
        return 1
    return n * factorial(n - 1)

In [6]:
factorial(8)

40320

In [8]:
def factorial(n):                                  ##2nd way
    result = 1
    for i in range(1, n + 1):
        result = result * i
    return result
    
num = int(input("Enter a number:"))
print("factorial of", num, "is:", factorial(num))

Enter a number: 5

factorial of 5 is: 120

#### 2.Write a function to check if a number is Armstrong or not.

In [4]:
def is_armstrong(num):
    n = len(str(num))
    sum_of_powers = sum(int(digit) ** n for digit in str(num))

    if sum_of_powers == num:
        return("it is true")
    else:
        return("it is false")

number = int(input("enter a number"))

if is_armstrong(number):
    print("the enter number is armstrong")
else:
    print("the enter number is not armstrong")

enter a number 153

the enter number is armstrong

### 3.Write a function that takes a list of number and return only even number.

In [12]:
l1 = [11,12,13,14,15,16,17,18,19,20]

def get_even_numbers(numbers):
    even_list = []
    for num  in numbers:
        if num % 2 == 0:
            even_list.append(num)
    return even_list

print("original list:", l1)
print("even numbers:", get_even_numbers(l1))

original list: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
even numbers: [12, 14, 16, 18, 20]

#### 4.Write a function that takes a string and return the reverse of the string.

In [2]:
def reverse_string(s):                             ## 1st way
    """
    Reverse the input string.

    Parameters:
    s (str):The string to reverse.

    Returns:
    str: The reversed string.
    """

    return s[::-1]

In [4]:
reverse_string("python")

'nohtyp'

In [7]:
def reverse_string(s):                                      ## 2nd way
    return s[::-1]

text = input("Enter a string")
print("reverse string:", reverse_string(text))

Enter a string 112102

reverse string: 201211

#### 5.Write a recursive function to calculate Fibonacci series up to n terms.

In [2]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

term = int(input("enter a number"))

print("fibonacci series:")
for i in range(term):
    print(fibonacci(i))

enter a number 8

fibonacci series:
0
1
1
2
3
5
8
13

### 2. Lambda Function

In [ ]:
6.Write a lambda function to find the maximum of two

In [3]:
b = 12 
c = 20 

Max = lambda b,c : b if(b > c) else b

Max(12,20)

12

#### 7.Write a lambda function to count vowels in a given string.

In [4]:
v = input(str("enter a string"))

count_vowels = lambda s:sum(1 for ch in s.lower() if ch in "aeiou")

print("Vowel count:", count_vowels(v))

enter a string data science

Vowel count: 5

#### 8.Use a lambda with map() to convert a list of integers into their cubes.

In [6]:
l1 = [1,2,3,4,5]

list(map(lambda x: x**3, l1))

[1, 8, 27, 64, 125]

### 9.Use a lambda with filter() to find numbers divisible by 5 from a list.

In [1]:
numbers = [12,10,14,20,34,25,30,43,40]                       
output = list(filter(lambda x: x % 5 == 0, numbers))
print(output)

[10, 20, 25, 30, 40]

#### 10.Use reduce() with lambda to find the product of all numbers in a list.

In [4]:
from functools import reduce

In [5]:
numbers = [11,12,20,14]

product = reduce(lambda x, y: x * y, numbers)
print(f"Numbers: {numbers}")
print(f"Product: {product}")

Numbers: [11, 12, 20, 14]
Product: 36960

### 3. List Comprehension

#### 11.Create a list of square of a numbers from 1 to 20 using list comprehension.

In [12]:
[i**2 for i in range(21)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

#### 12.Extract all words starting with vowel from a list of words.

In [15]:
colours = ["red", "blue", "green", "yellow", "orange","white"]

vowel_words = [word for word in colours if word[0].lower() in "aeiou"]
print(vowel_words)

['orange']

#### 13.Generate a list of tuple (x, x^2) for numbers from 1 to 10.

In [1]:
result = [(x, x**2) for x in range(1,11)]
print(result)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

#### 14.Flatten a 2D list using list comprehension.

In [3]:
matrix = [[11,12,13], [14,15,16], [17,18], [19,20]]

flattened = []
for row in matrix:
    for num in row:
        flattened.append(num)

print(flattened)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### 15.Create a list of prime numbers between 1 and 50 using list comprehension.

In [4]:
primes = [n for n in range(2, 51) if len([i for i in range(2, n) if n % i == 0]) == 0]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 4.Class

#### 16.Create a class student with attributes name and marks,and a method to display detail

In [7]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print("Name:", self.name)
        print("Marks:", self.marks)

s1 = Student("Darshan", 85)
s2 = Student("Piyush", 90)

s1.display()
s2.display()

Name: Darshan
Marks: 85
Name: Piyush
Marks: 90

#### 17.Create a class bank account with deposit and withdraw methods.

In [8]:
class BankAccount:
    def __init__(self, balance=0):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(amount, "amount will be credited new balance:", self.balance)

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(amount, "amount will be deposited new balance:", self.balance)
        else:
            print("sufficient balance will not avaiable your balance:", self.balance)

account1 = BankAccount(1000)
account1.deposit(500)
account1.withdraw(300)
account1.withdraw(1500)

500 amount will be credited new balance: 1500
300 amount will be deposited new balance: 1200
sufficient balance will not avaiable your balance: 1200

#### 18. Create a class Circle with a method to calculate area and circumference.

In [10]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius **2

    def circumference(self):
        return 2 * math.pi * self.radius

c1 = Circle(5)

print("Radius:", c1.radius)
print("Area:", c1.area())
print("Circumference:", c1.circumference())

Radius: 5
Area: 78.53981633974483
Circumference: 31.41592653589793

#### 19. Create a class Employee that increases salary by 10%.

In [2]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def increase_salary(self):
        self.salary = self.salary + (self.salary * 0.10)
        print(f"{self.name} new salary: {self.salary}")

emp1 = Employee("Darshan", 50000)

print("old salary:", emp1.salary)
emp1.increase_salary()

old salary: 50000
Darshan new salary: 55000.0

#### 20.Create a class car with methods to start, stop and display status.

In [3]:
class car:
    def __init__(self, name):
        self.name = name
        self.status = "OFF"

    def start(self):
        if self.status == "OFF":
            self.status = "ON"
            print(f"{self.name} the car was started")
        else:
            print(f"{self.name} the car was already started")

    def stop(self):
        if self.status == "ON":
            self.status = "OFF"
            print(f"{self.name} now the engine is off")
        else:
            print(f"{self.name} already the engine is off")

    def display_status(self):
        print(f"{self.name} present situation: {self.status}")

car1 = car("Scorpio")

car1.display_status()
car1.start()
car1.display_status()
car1.stop()
car1.display_status()

Scorpio present situation: OFF
Scorpio the car was started
Scorpio present situation: ON
Scorpio now the engine is off
Scorpio present situation: OFF

### 21.Inheritance

#### 21.Create a base class Animal and a derived class Dog that overrides a method.

In [4]:
class Animal:
    def sound(self):
        print("animals sound are various type.")

class Dog(Animal):
    def sound(self):
        print("the dog is shouting.")

a = Animal()
d = Dog()

a.sound()
d.sound()

animals sound are various type.
the dog is shouting.

#### 22.Create a base class shape with method area().inherit rectangle and circle classes to implement area calculation.

In [1]:
import math

class shape:
    def area(self):
        return 0

class rectangle(shape):
    def __init__(self, l, b):
        self.l = l
        self.b = b

    def area(self):
        return self.l * self.b

class circle(shape):
    def __init__(self, r):
        self.r = r

    def area(self):
        return math.pi * self.r**2

print("rectangle area:", rectangle(5, 4).area())
print("circle area:", circle(3).area())

rectangle area: 20
circle area: 28.274333882308138

#### 23. Create a Person class and inherit Student and Teacher from it with additional attributes.

In [4]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print("name:", self.name)
        print("age:", self.age)

class student(person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id

    def display(self):
        super().display()
        print("student id:", self.student_id)

class teacher(person):
    def __init__(self, name, age, subject):
        super().__init__(name, age)
        self.subject = subject

    def display(self):
        super().display()
        print("Subject:", self.subject)

s1 = student("Darshan", 21, "S20")
t1 = teacher("Meena", 35, "Mathematics")

print("Student Details:")
s1.display()

print("\nTeacher Details:")
t1.display()

Student Details:
name: Darshan
age: 21
student id: S20

Teacher Details:
name: Meena
age: 35
Subject: Mathematics

#### 24. Create a Vehicle class and inherit Car and Bike with their specific features.

In [3]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def display(self):
        print("Brand:", self.brand)
        print("Model:", self.model)

class Car(Vehicle):
    def __init__(self, brand, model, doors):
        super().__init__(brand, model)
        self.doors = doors

    def display(self):
        super().display()
        print("Number of Doors:", self.doors)

class Bike(Vehicle):
    def __init__(self, brand, model, engine_cc):
        super().__init__(brand, model)
        self.engine_cc = engine_cc

    def display(self):
        super().display()
        print("Engine Capacity:", self.engine_cc, "cc")

c1 = Car("Toyota", "Fortuner", 4)
b1 = Bike("Yamaha", "R15", 155)

print("Car Details:")
c1.display()

print("\nBike Details:")
b1.display()

Car Details:
Brand: Toyota
Model: Fortuner
Number of Doors: 4

Bike Details:
Brand: Yamaha
Model: R15
Engine Capacity: 155 cc

#### 25. Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student and Athlete).

In [1]:

class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade

    def show_student(self):
        print("Student Name:", self.name)
        print("Grade:", self.grade)


class Athlete:
    def __init__(self, sport, rank):
        self.sport = sport
        self.rank = rank

    def show_athlete(self):
        print("Sport:", self.sport)
        print("Rank:", self.rank)



class StudentAthlete(Student, Athlete):
    def __init__(self, name, grade, sport, rank):
        Student.__init__(self, name, grade)
        Athlete.__init__(self, sport, rank)

    def show_details(self):
        print("---- Student Athlete Details ----")
        self.show_student()
        self.show_athlete()



sa = StudentAthlete("Rahul", "A", "Cricket", 1)
sa.show_details()

---- Student Athlete Details ----
Student Name: Rahul
Grade: A
Sport: Cricket
Rank: 1

### 6.Polymorphism

#### 26. Create two classes Cat and Dog with the same method speak(). Demonstrate polymorphism.

In [2]:
class dog:
    def speak(self):
        return "Woof!"


class cat:
    def speak(self):
        return "Meow!"

def animal_sound(animal):
    print(animal.speak())

dog = dog()
cat = cat()

animal_sound(dog)
animal_sound(cat)

Woof!
Meow!

#### 27. Demonstrate operator overloading by implementing addition of two Vector objects.

In [1]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def __add__(self, other):
        return Complex(self.real + other.real, self.imag + other.imag)

    def __str__(self):
        return f"{self.real} + {self.imag}j"

c1 = Complex(11, 12)
c2 = Complex(19,20)

result = c1 + c2
print("Result:", result)

Result: 30 + 32j

#### 28.Demostrate method overloading using default parameters.

In [2]:
class MathOps:
    def add(self, a=0, b=0, c=0):
        return a + b + c

m = MathOps()

print("2 numbers of sum:", m.add(10,11))
print("3 numbers of sum:", m.add(12,20))
print("Default sum:", m.add())

2 numbers of sum: 21
3 numbers of sum: 32
Default sum: 0

#### 29.Create a base class shape with draw()method and override it in derived classes.

In [3]:

class Shape:
    def draw(self):
        print("Drawing a Shape")


class Circle(Shape):
    def draw(self):
        print("Drawing a Circle")


class Rectangle(Shape):
    def draw(self):
        print("Drawing a Rectangle")


class Triangle(Shape):
    def draw(self):
        print("Drawing a Triangle")


s = Shape()
c = Circle()
r = Rectangle()
t = Triangle()


s.draw()
c.draw()
r.draw()
t.draw()

Drawing a Shape
Drawing a Circle
Drawing a Rectangle
Drawing a Triangle

#### 30.Demonstrate duck typing with classes having the same method name.

In [4]:
class Dog:
    def speak(self):
        return "Bark!"

class Cat:
    def speak(self):
        return "Meow!"

class Cow:
    def speak(self):
        return "Moo!"

def animal_sound(animal):
    print(animal.speak())

d = Dog()
c = Cat()
cw = Cow()

animal_sound(d)
animal_sound(c)
animal_sound(cw)

Bark!
Meow!
Moo!

### 7.Encapsulation

#### 31.Create a class Account with private balance attribute and provide method to deposit and withdraw.

In [2]:
class Account:
    def __init__(self, initial_balance = 0):
        self.__balance = initial_balance

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print("Amount Deposit Successfully")
        else:
            print("Invalid deposit Amount.")

    def withdraw(self, amount):
        if amount > 0 and amount <= self.__balance:
            self.__balance -= amount
            print("Amount withdraw Successfully.")
        else:
            print("Insufficient balance or invalid amount.")

    def get_balance(self):
        return self.__balance

acc = Account(1000)
acc.deposit(500)
print("Current Balance:", acc.get_balance())

acc.withdraw(300)
print("Current Balance:", acc.get_balance())

acc.withdraw(2000)
print("Current Balance:", acc.get_balance())

Amount Deposit Successfully
Current Balance: 1500
Amount withdraw Successfully.
Current Balance: 1200
Insufficient balance or invalid amount.
Current Balance: 1200

#### 32.Create a class with private attributes and use getter and setter methods to access them.

In [3]:
class Student:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age

    def get_name(self):
        return self.__name

    def set_name(self, name):
        if len(name) > 0:
            self.__name = name
            print("Name update successfully.")
        else:
            print("Invalid name.")

    def get_age(self):
        return self.__age

    def set_age(self, age):
        if age > 0:
            self.__age = age
            print("Age updated Successfully.")
        else:
            print("Invalid Age.")

s1 = Student("Darshan", 21)

print("Name:", s1.get_name())
print("Age:", s1.get_age())

s1.set_name("Piyush")
s1.set_age(22)

print("Name:", s1.get_name())
print("Age:", s1.get_age())

Name: Darshan
Age: 21
Name update successfully.
Age updated Successfully.
Name: Piyush
Age: 22

#### 33.Demonstrate name mangling with private variables.

In [5]:
class Account:
    def __init__(self, balance):
        self.__balance = balance

    def show_balance(self):
        print("Balance:", self.__balance)

acc = Account(1000)

acc.show_balance()

print("Accessing with name mangling:", acc._Account__balance)

Balance: 1000
Accessing with name mangling: 1000

#### 34. Create a class Bank with encapsulated methods to show account details securely.

In [1]:
class Bank:
    def __init__(self, name, balance):
        self.__name = name          
        self.__balance = balance    

    # getter method
    def get_balance(self):
        return self.__balance

    # setter method
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
        else:
            print("Invalid amount!")

    # setter method
    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient balance!")

# ---- using the class ----
acc = Bank("Darshan", 5000)

print("Current Balance:", acc.get_balance())

acc.deposit(1000)
print("After Deposit:", acc.get_balance())

acc.withdraw(2000)
print("After Withdrawal:", acc.get_balance())

Current Balance: 5000
After Deposit: 6000
After Withdrawal: 4000

#### 35. Demonstrate encapsulation by restricting access to class attributes.

In [2]:
class Student:
    def __init__(self, name, marks):
        self.__name = name
        self.__marks = marks

    def get_details(self):
        print("Name:", self.__name)
        print("Marks:", self.__marks)

    def set_marks(self, new_marks):
        if 0 <= new_marks <= 100:
            self.__marks = new_marks
            print("Marks will be updated.")
        else:
            print("Invalid Marks! Must be between 0 and 100.")

s1 = Student("Darshan", 85)

s1.get_details()

s1.set_marks(95)

s1.get_details()

Name: Darshan
Marks: 85
Marks will be updated.
Name: Darshan
Marks: 95

### 8.Datetime Module

#### 36. Write a program to display the current date and time.

In [4]:
import datetime

current = datetime.datetime.now()

print("Current Date:", current.date())
print("Current Time:", current.time())

Current Date: 2025-10-06
Current Time: 08:23:23.226308

#### 37.Write a program to calculate a persons age from their date of birth.

In [5]:
import datetime

dob_input = input("Enter your date of birth(YYYY-MM-DD): ")

dob = datetime.datetime.strptime(dob_input, "%Y-%m-%d").date()

today = datetime.date.today()

age = today.year - dob.year
if(today.month, today.day) < (dob.month, dob.day):
    age -= 1

print("Your age is:", age, "years")

Enter your date of birth(YYYY-MM-DD):  2004-06-11

Your age is: 21 years

#### 38.Write a program to find the difference in days between two given dates.

In [3]:
from datetime import datetime

d1 = input("First Date (YYYY-MM-DD): ")
d2 = input("Second Date (YYYY-MM-DD): ")

date1 = datetime.strptime(d1, "%Y-%m-%d")
date2 = datetime.strptime(d2, "%Y-%m-%d")

diff = abs((date2 - date1).days)
print("Difference of days:", diff)

First Date (YYYY-MM-DD):  2025-06-20
Second Date (YYYY-MM-DD):  2025-06-11

Difference of days: 9

#### 39.Write a program to print the date 30 days from today.

In [5]:
from datetime import date, timedelta

today = date.today()
future_date = today + timedelta(days=30)

print("Today Date:", today)
print("After 30 day of given date:", future_date)

Today Date: 2025-10-07
After 30 day of given date: 2025-11-06

#### 40.Write a program to format today's date as "DD/MM/YYYY" and "YYYY-MM-DD".

In [7]:
from datetime import date 

today = date.today()

format1 = today.strftime("%d/%m/%Y")
format2 = today.strftime("%Y-%m-%d")

print("Today Date (DD/MM/YYYY):", format1)
print("Today Date(YYYY-MM-DD):", format2)

Today Date (DD/MM/YYYY): 07/10/2025
Today Date(YYYY-MM-DD): 2025-10-07

### 9.Math Module

#### 41.Write a program to calculate factorial using math.factorial().

In [11]:
import math

num = int(input("Enter the number: "))

result = math.factorial(num)

print("num", num, "Factorial is:", result)

Enter the number:  10

num 10 Factorial is: 3628800

#### 42.Write a program to find the greatest common divisor (GCD) of two numbers.

In [13]:
import math

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

gcd = math.gcd(a, b)

print("The GCD of", a, "and", b, "is:", gcd)

Enter first number:  12
Enter second number:  20

The GCD of 12 and 20 is: 4

#### 43.Write a program to calculate square root, power and logarithm using math module.

In [14]:
import math

num = float(input("Enter a number: "))

sqrt_val = math.sqrt(num)

power_val = math.pow(num, 2)

log_val = math.log(num)

print("Square root of", num, "is:", sqrt_val)
print(num, "raised to power 2 is:", power_val)
print("Natural logarithm of", num, "is:", log_val)

Enter a number:  2

Square root of 2.0 is: 1.4142135623730951
2.0 raised to power 2 is: 4.0
Natural logarithm of 2.0 is: 0.6931471805599453

#### 44.Write a program to generate random numbers between 1 and 100(using math and random).

In [16]:
import random
import math

rand_num = random.randint(1, 100)

print("Random number between 1 and 100 is:", rand_num)

Random number between 1 and 100 is: 56

#### 45.Write a program to convert radians to degrees and vice versa.

In [17]:
rad = float(input("Enter angle in radians: "))
deg_from_rad = math.degrees(rad)
print(rad, "radians =", deg_from_rad, "degrees" )

deg = float(input("Enter angle in degrees: "))
rad_from_deg = math.radians(deg)
print(deg, "degrees =", rad_from_deg, "radians" )

Enter angle in radians:  1.55

1.55 radians = 88.8084582452776 degrees

Enter angle in degrees:  85

85.0 degrees = 1.4835298641951802 radians

### 10.Regular Expression Module

#### 46.Write a regex to check if a string is a valid email address.

In [1]:
import re 

pattern = r'\w+@\w+\.\w+'

email = "darshan@gmail.com"

if re.fullmatch(pattern, email):
    print("Valid Email")
else:
    print("Invalid Email")

Valid Email

#### 47.Write a regex to extract all numbers from a string.

In [2]:
import re

text = "My age is 21 and my brother is 17. We bought 3 apples and 12 banana."

pattern = r'\d+'

numbers = re.findall(pattern, text)

print("Extracted Numbers:", numbers)

Extracted Numbers: ['21', '17', '3', '12']

#### 48.Write a regex to validate if a string is a valid Indian mobile number(10 digits).

In [3]:
import re

pattern = re.compile(r'^[6-9]\d{9}$')

numbers = [
    "8080125881",
    "9763958983",
    "9130052070",
    "7304180481",
    "8010714208"
]

for num in numbers:
    if pattern.fullmatch(num):
        print(num, "-> Valid Indian Mobile Number.")
    else:
        print(num, "-> Invalid Number.")

8080125881 -> Valid Indian Mobile Number.
9763958983 -> Valid Indian Mobile Number.
9130052070 -> Valid Indian Mobile Number.
7304180481 -> Valid Indian Mobile Number.
8010714208 -> Valid Indian Mobile Number.

#### 49.Write a regex to find all words starting with a capital letter in a sentence.

In [4]:
import re 

sentence = "My Name is Darshan and I Live in India."

pattern = r'\b[A-Z][a-zA-Z]*\b'

capital_words = re.findall(pattern, sentence)

print("Words starting with capital letters:", capital_words)

Words starting with capital letters: ['My', 'Name', 'Darshan', 'I', 'Live', 'India']

#### 50.Write a regex to replace all spaces in a string with a hyphen.

In [ ]:
import re

text = "Hi! I am learning Data Science til last 3 months."

new_text = re.sub(r'')